## Task 1

A. 60% of the kids play football, and 36% of the kids play ice hockey. 40% of the kids who play football
also play ice hockey. What percent of those that play ice hockey also play football?

In [50]:
# P( football | ice hockey) = ( ( ice hockey |football) * P(football) / P(Icehockey) )
P =  0.4 * 0.6 / 0.36 
P

0.6666666666666666

B. 40% of the kids like music, and 24% of the kids like to dance. Given that 30% of those that like
music also likes to dance, what percent of those that like to dance also likes music?

In [52]:
# P( music | dance) = ( ( dance |music) * P(music) / P(dance) )
P =  0.3 * 0.40 / 0.24 
P

0.5

C. In a factory, machine X produces 60% of the daily output and machine Y produces 40% of the daily
output.

2% of machine X’s output is defective, and 1.5% of machine Y’s output is defective.

One day, an item is inspected at random, and found to be defective. What is the probability that it

was produced by machine X?

In [53]:
# P( x | defect) = ( ( defect | x) * P(x) / P(defect) )
P =  0.2 * 0.6 / 0.035 
P

3.428571428571428

## Task 2
### Make a KNN classifier on the IRIS dataset using Python. Make sure to split the dataset into training and
testing sets.

In [54]:
# For data manipulation
import pandas as pd

# for scientific computation
import numpy as np

# for data analysis
from sklearn.preprocessing import StandardScaler 
from sklearn import linear_model
from sklearn import datasets
import sklearn.metrics as sm

# for diagramming 
import matplotlib.pyplot as plt
import seaborn as sns

# For serialization and deserialization of data from/to file
import pickle

In [55]:
iris = datasets.load_iris()

In [56]:
df = pd.DataFrame(iris["data"])
df

       0    1    2    3
0    5.1  3.5  1.4  0.2
1    4.9  3.0  1.4  0.2
2    4.7  3.2  1.3  0.2
3    4.6  3.1  1.5  0.2
4    5.0  3.6  1.4  0.2
..   ...  ...  ...  ...
145  6.7  3.0  5.2  2.3
146  6.3  2.5  5.0  1.9
147  6.5  3.0  5.2  2.0
148  6.2  3.4  5.4  2.3
149  5.9  3.0  5.1  1.8

[150 rows x 4 columns]

In [57]:
iris["target"]

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [58]:
# split the set into subsets for training and testing
from sklearn.model_selection import train_test_split


X_train, X_test, y_train, y_test = train_test_split(iris["data"], iris["target"], random_state=1, test_size=0.4)

In [59]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)

X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [60]:
from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier(n_neighbors=3)
classifier.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=3)

In [61]:
y_pred = classifier.predict(X_test)

In [62]:
from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))

[[19  0  0]
 [ 0 21  0]
 [ 0  1 19]]
              precision    recall  f1-score   support

           0       1.00      1.00      1.00        19
           1       0.95      1.00      0.98        21
           2       1.00      0.95      0.97        20

    accuracy                           0.98        60
   macro avg       0.98      0.98      0.98        60
weighted avg       0.98      0.98      0.98        60

## Task 4
### Find a dataset that interests you on the UCI Machine Learning Repository. Make a KNN classifier on the
### dataset, either in Python or in KNIME. Visualize the classified data.

In [86]:
df = pd.read_csv("forestfires.csv")

In [87]:
# The task is to predict the burned area, y = area

In [88]:
def make_bin(x):
    if x != 0:
        return 1
    return 0

In [89]:
df["area"] = df["area"].apply(make_bin)

In [90]:
df # X Y in dataset is cordinates

     X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain  area
0    7  5   mar  fri  86.2   26.2   94.3   5.1   8.2  51   6.7   0.0     0
1    7  4   oct  tue  90.6   35.4  669.1   6.7  18.0  33   0.9   0.0     0
2    7  4   oct  sat  90.6   43.7  686.9   6.7  14.6  33   1.3   0.0     0
3    8  6   mar  fri  91.7   33.3   77.5   9.0   8.3  97   4.0   0.2     0
4    8  6   mar  sun  89.3   51.3  102.2   9.6  11.4  99   1.8   0.0     0
..  .. ..   ...  ...   ...    ...    ...   ...   ...  ..   ...   ...   ...
512  4  3   aug  sun  81.6   56.7  665.6   1.9  27.8  32   2.7   0.0     1
513  2  4   aug  sun  81.6   56.7  665.6   1.9  21.9  71   5.8   0.0     1
514  7  4   aug  sun  81.6   56.7  665.6   1.9  21.2  70   6.7   0.0     1
515  1  4   aug  sat  94.4  146.0  614.7  11.3  25.6  42   4.0   0.0     0
516  6  3   nov  tue  79.5    3.0  106.7   1.1  11.8  31   4.5   0.0     0

[517 rows x 13 columns]

In [91]:
months = df['month'].unique()
days = df['day'].unique()
df['month'] = df['month'].apply(lambda x :  list(months).index(x))
df['day'] = df['day'].apply(lambda x :  list(days).index(x))

In [93]:
df

     X  Y  month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain  area
0    7  5      0    0  86.2   26.2   94.3   5.1   8.2  51   6.7   0.0     0
1    7  4      1    1  90.6   35.4  669.1   6.7  18.0  33   0.9   0.0     0
2    7  4      1    2  90.6   43.7  686.9   6.7  14.6  33   1.3   0.0     0
3    8  6      0    0  91.7   33.3   77.5   9.0   8.3  97   4.0   0.2     0
4    8  6      0    3  89.3   51.3  102.2   9.6  11.4  99   1.8   0.0     0
..  .. ..    ...  ...   ...    ...    ...   ...   ...  ..   ...   ...   ...
512  4  3      2    3  81.6   56.7  665.6   1.9  27.8  32   2.7   0.0     1
513  2  4      2    3  81.6   56.7  665.6   1.9  21.9  71   5.8   0.0     1
514  7  4      2    3  81.6   56.7  665.6   1.9  21.2  70   6.7   0.0     1
515  1  4      2    2  94.4  146.0  614.7  11.3  25.6  42   4.0   0.0     0
516  6  3     11    1  79.5    3.0  106.7   1.1  11.8  31   4.5   0.0     0

[517 rows x 13 columns]

In [94]:

X_train, X_test, y_train, y_test = train_test_split(df.drop(columns = ["area"]), df["area"], random_state=1, test_size=0.4)

In [122]:
classifier = KNeighborsClassifier(n_neighbors=4)
classifier.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=4)

In [123]:
y_pred = classifier.predict(X_test)

In [124]:
from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))

[[67 34]
 [57 49]]
              precision    recall  f1-score   support

           0       0.54      0.66      0.60       101
           1       0.59      0.46      0.52       106

    accuracy                           0.56       207
   macro avg       0.57      0.56      0.56       207
weighted avg       0.57      0.56      0.56       207

In [125]:
y_predicted = classifier.predict(X_test)

In [126]:
y_test

270    1
90     0
133    0
221    1
224    1
      ..
186    1
424    1
242    1
430    0
255    0
Name: area, Length: 207, dtype: int64

In [136]:
from sklearn.naive_bayes import GaussianNB
clf = GaussianNB()
clf.fit(X_train, y_train)
GaussianNB()


# clf_pf = GaussianNB()
# clf_pf.partial_fit(X_train, y_train, np.unique(y_train))
# GaussianNB()

GaussianNB()

In [137]:
y_pred = clf.predict(X_test)

In [138]:
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))

[[  6  95]
 [  4 102]]
              precision    recall  f1-score   support

           0       0.60      0.06      0.11       101
           1       0.52      0.96      0.67       106

    accuracy                           0.52       207
   macro avg       0.56      0.51      0.39       207
weighted avg       0.56      0.52      0.40       207

In [ ]:
#KNeighborsClassifier var bedst, da den havde størst accuracy
#derfor ville jeg bruge den.